.pricing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.price_rate{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 6px;
    
}

@media(max-width:768px){
    .pricing{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .price_rate{
        display: none;
    }
}
@media(max-width:375px){
    .pricing{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .price_rate{
        display: none;
    }
}