.flex{
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    margin-top: 5vh;
}
@media(max-width:768px){
    .flex{
        margin-top: 10vh;
    }
}
@media(max-width:375px){
    .flex{
        margin-top: 10vh;
    }
}