.header{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 3rem;
}
.header h4{
    text-align: justify;
    color:hsl(227, 35%, 25%);
    font-weight: bolder;
    text-align: justify;
}
.header p{
    color:  hsl(225, 20%, 60%);
    font-size: small;
    text-align: justify;
}
@media(max-width:768px){
    .header{
        padding-left: 25px;
        padding-right:25px;
        padding-bottom: 50px;
    }
    
}
@media(max-width:375px){
    .header{
        padding-left: 25px;
        padding-right:25px;
        padding-bottom: 50px;
    }
    
}